* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body {
    background-color: #23252A;
    margin: 100px 15%;
}

.login-container, .add-category-container, .add-task-container {
    background-color: #31333b;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
    width: 30%;
}

.form-containers {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.single-task {
    background-color: #31333b;
    padding: 20px;
    border-radius: 20px;
    animation: customFadeIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Beispiel: Benutzerdefinierte Bezier-Kurve */
}

.single-task button {
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    padding: 10px;
    transition: all 0.3s ease-out;
    border-radius: 20px;
    cursor: pointer;
    background-color: #97bbb3;
    min-width: 70px;
}

.single-task button:hover {
    background-color: #d0d0d0;
    transform: scale(1.03);
}


@keyframes customFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*-----Prio-----*/
.task-prio.High:after {
    content: "high priority";
    font-size: 10px;
    top: -7px;
    position: relative;
    background-color: #ff3333;
    padding: 1px 7px;
    border-radius: 20px;
    transition: all .4s cubic-bezier(0, 0, 0, 0.99);
}

.task-prio.Middle:after {
    content: "middle priority";
    font-size: 10px;
    top: -7px;
    position: relative;
    background-color: #ffd118;
    padding: 1px 7px;
    border-radius: 20px;
    transition: all .4s cubic-bezier(0, 0, 0, 0.99);
}

.task-prio.Low:after {
    content: "low priority";
    font-size: 10px;
    top: -7px;
    position: relative;
    background-color: #00c919;
    padding: 1px 7px;
    border-radius: 20px;
    transition: all .4s cubic-bezier(0, 0, 0, 0.99);
}

.task-cat {
    font-size: 10px;
    background-color: rgb(255 255 255 / 25%);
    padding: 1px 7px;
    border-radius: 20px;
    height: 17px;
}

.task-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 7px;
}

/*-----Input-----*/
.custom-input {
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: rgb(255 255 255 / 10%);
    color: #fff;
    padding: 5px;
}


textarea {
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 70px;
    background-color: rgb(255 255 255 / 10%);
    color: #fff;
    padding: 5px;
}

.input-wrapper {
    margin-bottom: 25px
}

select {
    background-color: #46484F !important;
}

.form-button {
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    padding: 10px;
    transition: all 0.3s ease-out;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #97bbb3;
}

button:hover, input[type=submit]:hover {
    background-color: #d0d0d0;
    transform: scale(1.03);
}


/*-----Font-----*/

h3, h1, h2, h4 {
    width: 100%;
    color: #fff;
}

label {
    color: #fff;
}

.task-title-label, .task-descr-label {
    color: rgb(255 255 255 / 50%);
    font-size: 13px;
}

.task-title, .task-descr {
    color: #fff;
    margin-bottom: 15px;
}


#view-task, #view-done-task {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.prio-label, .titel-label, .descr-label, .select-label {
    display: inline-block;
    width: 140px;
    margin-bottom: 8px;
}

/*-----Category-----*/
#view-categories, #static-categories {
    display: flex;
    gap: 10px;
}

.category-container {
    margin-top: 50px;
}

.single-category {
    background-color: #31333b;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    transition: all .3s ease-out;
}

.single-category:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.category-wrapper {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    padding-bottom: 10px;
    flex-wrap: wrap;
}

/*-----Icon-----*/
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(0.8);
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    cursor: pointer;
    transition: all .3s ease-out;
}

.gg-trash:hover {
    color: #ff3333;
    transform: scale(0.9);
}


.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}


#editTaskModal{
    display: block;
    position: fixed;
    background-color: #3b3d47;
    top: 50%;
    left: 50%;
    padding: 0 25px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 30;
}

#closeModal {
    font-size: 20px;
    transition: all .3s ease;
    color: #fff;
    float: right;
}

#closeModal:hover {
    font-size: 25px;
    cursor: pointer;
}